<footer>
	<div class="container">
		<hr>
		Data from <a href="https://www.wikidata.org">Wikidata</a>
		|
		Code from
		<a href="https://github.com/fnielsen/ordia">GitHub repository</a>
		|
		Hosted on   <a href="https://wikitech.wikimedia.org/wiki/Portal:Toolforge">Wikimedia Toolforge</a>,
		a <a href="https://wikimediafoundation.org">Wikimedia Foundation</a> service
		|
		License for content: CC0 for data, CC-BY-SA for text and media
		|
		Report technical problems at Ordia's
		<a href="https://github.com/fnielsen/ordia/issues">Issues</a> GitHub page.
	</div>
</footer>