<footer>
	<div class="container">
		<hr>
		Data from <a href="https://www.wikidata.org">Wikidata</a>
		|
		Code forked from <a href="https://github.com/fnielsen/ordia">Ordia</a>, maintained in PaleOrdia's
		<a href="https://github.com/situx/paleordia">GitHub repository</a>
		|
		Hosted on <a href="https://situx.github.io/paleordia">Github Pages</a>
		|
		License for content: CC0 for data, CC-BY-SA for text and media
		|
		Report technical problems at PaleOrdia's
		<a href="https://github.com/situx/paleordia/issues">Issues</a> GitHub page.
	</div>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-VXTX7M4VF6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VXTX7M4VF6');
</script>
</footer>