<div class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <form class="form-inline" action="{{ url_for('app.show_search') }}">
	<div class="input-group">
            <input type="text" class="form-control"
		   name="q" id="searchterm" value="{{ query }}"
		   placeholder="Search after lemma or form"/>
            <span class="input-group-btn">
		<button class="btn btn-primary" type="submit">
		    PaleOrdia
		</button>
            </span>

	    <button class="navbar-toggler" type="button"
		    data-toggle="collapse" data-target="#navbarToogle">
		<span class="navbar-toggler-icon"></span>
	    </button>
	</div>
	
    </form>
    

    <div class="collapse navbar-collapse" id="navbarToogle">
	<ul class="nav navbar-nav">
	   <li class="nav-item">
	    <a class="nav-link" href="{{ site.baseurl }}/script_index/index.html">Scripts</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ site.baseurl }}/language_index/index.html">Languages</a>
	  </li>
	    <li class="nav-item">
		<a class="nav-link" data-toggle="collapse" data-target="#nav-aspects">Aspects</a>
	    </li>

	    <div id="nav-aspects" class="collapse">
		<ul class="nav navbar-nav">
		    <li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/lexical_category_index/index.html">Lexical categories</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/grammatical_feature_index/index.html">Grammatical features</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/numeral_index/index.html">Numerals</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/property_index/index.html">Properties</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/hyphenation_index/index.html">Hyphenation</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/reference_index/index.html">References</a>
		    </li>
		</ul>
	    </div>
	    
	    <li class="nav-item">
		<a class="nav-link" data-toggle="collapse" data-target="#nav-tools">Tools</a>
	    </li>

	    <div id="nav-tools" class="collapse">
		<ul class="nav navbar-nav">
		    <li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/text_to_lexemes/index.html">Text to lexemes</a>
		    </li>
		    <li>
			<a class="nav-link" href="{{ site.baseurl }}/text_to_languages/index.html">Text to languages</a>
		    </li>
		</ul>
	    </div>
	    
	    <li class="nav-item">
		<a class="nav-link" href="{{ site.baseurl }}/statistics/index.html">Statistics</a>
	    </li>

	</ul>
    </div>

</div>