---
layout: base
---

<div>

  <h1>PaleOrdia</h1>



<div class="container">

    <div class="card-deck mb-3">
	<div class="card mb-4 box-shadow">
	    
            <div class="card-header">
		<h4 class="my-0 font-weight-normal">Examples Lexemes</h4>
            </div>
            <div class="card-body">
		<dl>
		    <dt><a href="l/?l=L99&qLabel=Luftballon&qb=Q188&qbLabel=German">Luftballon</a></dt>
		    <dd>
			German lexeme.
		    </dd>
		    

		    <dt><a href="l/?l=L43318&qLabel=krænkelsesparat&qb=Q9035&qbLabel=Danish">krænkelsesparat</a></dt>
		    <dd>
			Danish neologism with indication of
			probable first appearance in various news
			sites, articles and books.  
		    </dd>
		    
		    <dt><a href="l/?l=L2310&qLabel=rød&qb=Q9035&qbLabel=Danish">rød</a></dt>
		    <dd>
			Danish adjective with primary meaning
			being "<a target="_blank" href="https://www.wikidata.org/entity/Q3142">red</a>" and which
			appears in many different compounds.
		    </dd>
		    
		    <dt><a href="l/?l=L53145&qLabel=dobrý&qb=Q9056&qbLabel=Czech">dobrý</a></dt>
		    <dd>
			Czech adjective with many (160+) different forms.
		    </dd>

		    <dt><a href="l/?l=L189&qLabel=вода&qb=Q7737&qbLabel=Russian">вода</a></dt>
		    <dd>
			Russian noun with many (15+) different senses,
			among others <a target="_blank" href="https://www.wikidata.org/entity/Q29053744">liquid water</a>.
			
				
		</dl>
            </div>

	</div>

        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Examples Paleography</h4>
	    </div>
	    <div class="card-body">
		<dl>
		    <dt><a href="text-to-lexemes">Cuneiform Sign SAG</a></dt>
		    <dd>Show information about Unicode code points linked to paleographic variants or paleographic variants by time period
			<ul><li><a href="{{site.baseurl}}/c/?q=Q87556308&qLabel=𒊕%20CUNEIFORM%20SIGN%20SAG%20(U+12295)">Unicode representation</a></li><li>
			<a href="{{site.baseurl}}/cf/?q=Q119251260&qb=Q87556308&qLabel=Cuneiform%20Sign%20Variant%20of%20CUNEIFORM%20SIGN%20SAG%20(Neo%20Assyrian)">Neo-Assyrian Variant</a></li></ul></dd>
		</dl>

		<dl>
		    <dt><a href="text-to-languages">Sign lists</a></dt>
		    <dd>List paleographic variants by literature or by time period<ul><li>
			<a href="{{site.baseurl}}/signlist/?q=Q1471568&s=Q401&qLabel=Old%20Babylonian%20Period">Cuneiform sign variants in the Old Babylonian Period</a></li><li>
			<a href="{{site.baseurl}}/reflist/?q=Q121502982&qb=Q401&qbLabel=cuneiform&qLabel=Das%20Akkadische%20Syllabar%20(Zweite%20Auflage)%20%20(AKS)">Cuneiform signs described in "Das Akkadische Syllabar"</a></li></ul></dd>
		</dl>

	    </div>
        </div>
	
        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Links</h4>
	    </div>
	    <div class="card-body">
		<dl>
		    <dt><a href="{{site.baseurl}}/statistics/">Statistics</a></dt>
		    <dd>Count of Wikidata lexemes data.</dd>
		</dl>

		<dl>
		    <dt><a href="https://orbit.dtu.dk/files/203180728/imm7137.pdf">Ordia: A Web Application for Wikidata Lexemes ↗</a></dt>
		    <dd>Paper about this web application.</dd>


		
	    </div>
        </div>
    </div>
</div>
  
    
</div>









