---
layout: base
---

<script type="text/javascript">
lexemesSparql =`
	SELECT DISTINCT (GROUP_CONCAT(DISTINCT ?lemmaa; separator=" / ") as ?lemmaLabel) ?lemma ?lexcat ?lexcatLabel
	(GROUP_CONCAT(DISTINCT ?rep; separator=" / ") as ?representations) 
	(GROUP_CONCAT(DISTINCT ?combsenseval; separator=" + ") as ?combinations)
	(GROUP_CONCAT(DISTINCT ?combsensedef; separator=" + ") as ?combinationsLabel)
	(GROUP_CONCAT(DISTINCT ?senseval; separator=" / ") as ?sense)
	(GROUP_CONCAT(DISTINCT ?senselabel; separator=" / ") as ?senseLabel)
	WHERE {		
	  ?lemma rdf:type ontolex:LexicalEntry ;           
		 dct:language wd:${ q } ;		   
		 wikibase:lemma ?lemmaa  ;
		 wikibase:lexicalCategory ?lexcat .
	  OPTIONAL { ?lemma p:P5238 ?comb . ?comb pq:P5548 ?form . ?form ontolex:representation ?formlabel . ?comb pq:P5980 ?combsense . ?combsense wdt:P5137|wdt:P9970 ?combsenseval .?combsense skos:definition ?combsensedeff . FILTER(lang(?combsensedeff)="en") FILTER(lang(?formlabel)="sux-latn") BIND(CONCAT(?combsensedeff," (",?formlabel,")") AS ?combsensedef) }
	  OPTIONAL { ?lexcat rdfs:label ?lexcatLabel . FILTER((LANG(?lexcatLabel))= "en") }
	  OPTIONAL { ?lemma ontolex:lexicalForm ?lf . ?lf ontolex:representation ?rep . }  
	  OPTIONAL { ?lemma ontolex:sense ?sense . ?sense wdt:P5137|wdt:P9970 ?senseval . OPTIONAL { ?senseval rdfs:label ?senselabel . FILTER((LANG(?senselabel))= "en") }}     }
	GROUP BY ?lemma ?lexcat ?lexcatLabel
`

 $(document).ready(function() {
     sparqlToDataTable(lexemesSparql, "#lexemes", {
	 'linkPrefixes': {
		'lexeme': '../l'
	 },
	 linkParams: {
		form: '&qb='+q
	 }
	 });
 });

</script>

<div class="language-entries">
  <h1>Lexemes combinations: ${ qLabel } (${ q })</h1>

  <a title="Back"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="../language?q=${ l }&qLabel=${ lLabel }">←</a>
  <a title="View and edit item in Wikidata"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://www.wikidata.org/wiki/${ q }">Wikidata ↗</a>
  <a title="View item in Reasonator"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://reasonator.toolforge.org/?&q=${ q }">Reasonator ↗</a>
  <a title="View item as a Scholia topic"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://scholia.toolforge.org/topic/${ q }">Scholia ↗</a>


  <h2>Lexemes with forms, senses and their combinations</h2>

  <table class="table table-hover" id="lexemes"></table>
  

</div>




