---
layout: base
---

<script type="text/javascript">
questiontypes={"senseToWord":"Which lexeme has the same or similar sense?","wordToSense":"Which sense is associated with this lexeme?","formToWord":"This form belongs to one or many Lexemes. Which one's?","wordToTimePeriod":"In which time period did this Lexeme NOT occur?"}
qresultcache={}
senses={}
timeperiod={}
curquestion=""
curlexeme=null
curanswers=[]
correctanswer=null
function initQuiz(){
initquery=`
SELECT ?lexeme ?lexemeLabel ?senses ?sensesLabel ?lexical_category ?lexical_categoryLabel ?random WITH {
	  SELECT ?lexeme (GROUP_CONCAT(DISTINCT ?lexemeLab; SEPARATOR = " // ") AS ?lexemeLabel) (GROUP_CONCAT(DISTINCT ?sensee; SEPARATOR = " // ") AS ?senses) (GROUP_CONCAT(DISTINCT ?senselabel; SEPARATOR = " // ") AS ?sensesLabel) ?lexical_category ?lexical_categoryLabel WHERE {
	  {
	  ?lexeme dct:language wd:${ q } ;
        rdf:type ontolex:LexicalEntry;
		ontolex:sense ?senseitem ;
		wikibase:lemma ?lexemeLab ;
		wikibase:lexicalCategory ?lexical_category.
	  ?lexical_category rdfs:label ?lexical_categoryLabel.
	  FILTER(LANG(?lexical_categoryLabel) = "en")}
		#OPTIONAL {
		  ?senseitem wdt:P5137|wdt:P9970 ?sensee.
		  ?sensee rdfs:label ?senseLab.
		  FILTER(LANG(?senseLab)="en")
		  BIND(COALESCE(REPLACE(STR(?sensee), "http://www.wikidata.org/entity/", ""), "") AS ?sensse)
		  BIND(COALESCE(REPLACE(STR(?senseitem), "http://www.wikidata.org/entity/", ""), "") AS ?sensel)
		#}
			?senseitem skos:definition ?gloss.
			FILTER(LANG(?gloss)="en")
		BIND(CONCAT(?gloss, COALESCE(CONCAT(" [", ?senseLab, " (", ?sensse, ")", "]"),"")) AS ?senselabel)
	}GROUP BY ?lexeme ?lexical_category ?lexical_categoryLabel}AS %i WHERE {
		INCLUDE %i
	 BIND(SHA512(CONCAT(STR(RAND()), STR(?lexemeLabel))) AS ?random) .
	 
	} ORDER BY ?random
LIMIT 50
	`
    var post_url = "https://query.wikidata.org/sparql";
    var post_data = "query=" + encodeURIComponent(initquery) + '&format=json'
    $.post(post_url, post_data).done(function(response) {
		res=sparqlDataToSimpleData(response)
		console.log(res)
		qresultcache=res
		$('#status').html("Quiz has been loaded!")
		selectQuestion(res);
	});
}

function checkForRelatedLexemesBySense(sense){
	thequery=`
	SELECT ?lexeme1 ?lexeme1Label ?lexeme2 ?lexeme2Label WHERE {
	{  
	SELECT ?lexeme1 ?lexeme1Gloss ?lexeme1langLabel (GROUP_CONCAT(DISTINCT ?lexeme1lem; separator=" // ") AS ?lexeme1lemma) ?lexeme2 ?lexeme2Gloss ?lexeme2langLabel (GROUP_CONCAT(DISTINCT ?lexeme2lem; separator=" // ") AS ?lexeme2lemma) WHERE {
	  BIND(<`+sense+`> AS ?lexemesense1)
	  ?lexeme1 ontolex:sense ?lexemesense1 .
	  ?lexeme1 wikibase:lemma ?lexeme1lem .
	  ?lexeme1 dct:language ?lexeme1lang .
	  ?lexeme1lang wdt:P282 ?lexeme1ws .
	  ?lexeme1lang rdfs:label ?lexeme1langLabell .
	  FILTER(lang(?lexeme1langLabell)="en")
	  OPTIONAL { FILTER("en"!="en") ?lexemesense1 skos:definition ?lexeme1Gloss . FILTER(lang(?lexeme1Gloss)="en")}
	  OPTIONAL { ?lexemesense1 skos:definition ?lexeme1Gloss . FILTER (lang(?lexeme1Gloss)="en")}
	  { ?lexemesense1 (wdt:P5973 | wdt:P5972| wdt:P5973 | ^ontolex:sense / wdt:P5191 / ontolex:sense)  ?lexemesense2 . ?lexemesense2 skos:definition ?lexeme2Gloss .
		}
		UNION 
		{
		  ?lexemesense1 (wdt:P5137 / ^wdt:P5137) | wdt:P5972 ?lexemesense2 . ?lexemesense2 skos:definition ?lexeme2Gloss .
		  FILTER (?lexemesense1 != ?lexemesense2)   
		}
	   BIND(EXISTS{?lexemesense1 (wdt:P5972 | wdt:P5973 | ^ontolex:sense / wdt:P5191 / ontolex:sense) ?lexemesense2} AS ?hastranslation)
	   ?lexemesense2 ^ontolex:sense ?lexeme2 .
	   ?lexeme2 wikibase:lemma ?lexeme2lem .
	   ?lexeme2 dct:language ?lexeme2lang .
	   ?lexeme2lang (wdt:P282|wdt:P282/wdt:P144) ?lexeme1ws .
	   OPTIONAL { FILTER("en"!="en") FILTER(lang(?lexeme2Gloss)="en")}
	   OPTIONAL { FILTER (lang(?lexeme2Gloss)="en")}  
	   OPTIONAL { ?lexeme1 wdt:P7481 ?lexeme1Dia . ?lexeme1Dia rdfs:label ?lexeme1DiaLabel . FILTER(lang(?lexeme1DiaLabel)="en") }
	   OPTIONAL { ?lexeme2 wdt:P7481 ?lexeme2Dia . ?lexeme2Dia rdfs:label ?lexeme2DiaLabel . FILTER(lang(?lexeme2DiaLabel)="en") }
	   ?lexeme2lang rdfs:label ?lexeme2langLabell .
	  FILTER(lang(?lexeme2langLabell)="en")
	  FILTER(?lexeme1lang=?lexeme2lang)
	  #OPTIONAL { ?lexemesense1 (wdt:P5137|wdt:P9970)? / wdt:P18 ?lexeme1Image }
	  BIND(CONCAT(" [",?lexeme1langLabell,"]",COALESCE(CONCAT(" <",?lexeme1DiaLabel,">"),"")) AS ?lexeme1langLabel)
	  BIND(CONCAT(" [",?lexeme2langLabell,"]",COALESCE(CONCAT(" <",?lexeme2DiaLabel,">"),"")) AS ?lexeme2langLabel)
	  }GROUP BY ?lexeme1 ?lexeme2 ?lexeme2Gloss ?lexeme1Gloss  ?lexeme1langLabel ?lexeme2langLabel
	  }
	   BIND(CONCAT(?lexeme1Gloss," (",?lexeme1lemma,") ",?lexeme1langLabel) AS ?lexeme1Label)
	   BIND(CONCAT(?lexeme2Gloss," (",?lexeme2lemma,") ",?lexeme2langLabel) AS ?lexeme2Label)
	}
	`
    var post_url = "https://query.wikidata.org/sparql";
    var post_data = "query=" + encodeURIComponent(thequery) + '&format=json'
    $.post(post_url, post_data).done(function(response) {
		res=sparqlDataToSimpleData(response)
		console.log(res)
		qresultcache=res
		$('#status').html("Related Lexeme Check!")
		if(res["data"]>0){
			curanswers.pop()
			curanswers.push({"lexeme":res["data"][0]["lexeme2"],"lexemeLabel":res["data"][0]["lexeme2Label"],"senses":res["data"][0]["lexeme2Label"]})
			correctanswer=res["data"][0]["lexeme2"]
		}else{
			correctanswer="None"
		}
		//curanswers.push({"lexeme":"None","lexemeLabel":"None","senses":"None"})
		let randanswers = curanswers.map(value => ({ value, sort: Math.random() })).sort((a, b) => a.sort - b.sort).map(({ value }) => value)
		$('#question').html("Current Lexeme: <b>"+curlexeme["lexemeLabel"]+" ("+curlexeme["sensesLabel"]+")</b><br/>Question: "+curquestion)
		$('#answers').html("<table><tr><td><button id=\"answer1\" onclick=\"checkResult('"+randanswers[0]["lexeme"]+"')\" value=\""+randanswers[0]["lexeme"]+"\">"+randanswers[0]["lexemeLabel"]+"</button></td><td><button id=\"answer2\" onclick=\"checkResult('"+randanswers[1]["lexeme"]+"')\" value=\""+randanswers[1]["lexeme"]+"\">"+randanswers[1]["lexemeLabel"]+"</button></td></tr><tr><td><button id=\"answer3\" onclick=\"checkResult('"+randanswers[2]["lexeme"]+"')\" value=\""+randanswers[2]["lexeme"]+"\">"+randanswers[2]["lexemeLabel"]+"</button></td><td><button id=\"answer4\" onclick=\"checkResult('"+randanswers[3]["lexeme"]+"')\" value=\""+randanswers[3]["lexeme"]+"\">"+randanswers[3]["lexemeLabel"]+"</button></td></tr><tr><td colspan=2><button id=\"noneanswer\" onclick=\"checkResult('None')\" value=\"None\">None of the answers</button></td></tr></table>")
	});
}


function selectQuestion(res){
	console.log(res["data"][0])
	senses=res["data"][0]["senses"]
	curlexeme=res["data"][0]
	curquestion=questiontypes["senseToWord"]
	curanswers=[
	{"lexeme":res["data"][1]["lexeme"],"lexemeLabel":res["data"][1]["lexemeLabel"],"senses":res["data"][1]["sensesLabel"]},
	{"lexeme":res["data"][2]["lexeme"],"lexemeLabel":res["data"][2]["lexemeLabel"],"senses":res["data"][2]["sensesLabel"]},
	{"lexeme":res["data"][3]["lexeme"],"lexemeLabel":res["data"][3]["lexemeLabel"],"senses":res["data"][3]["sensesLabel"]},
	{"lexeme":res["data"][4]["lexeme"],"lexemeLabel":res["data"][4]["lexemeLabel"],"senses":res["data"][4]["sensesLabel"]}]
	checkForRelatedLexemesBySense(res["data"][1]["lexeme"]+"-S1")
	/*if(senses.includes(" // ")){
		for(sense in senses.split(" // ")){
			checkForRelatedLexemesBySense(sense)
		}
	}else{
		checkForRelatedLexemesBySense(res["data"][1]["lexeme"]+"-S1")
	}*/
}

function checkResult(result){
	console.log(result+" - "+correctanswer)
	if(result==correctanswer){
		$('#status').html("<span style=\"color:green\">Your answer is correct!</span>")
	}else{
		$('#status').html("<span style=\"color:red\">Your answer is wrong! The correct answer is "+correctanswer+"</span>")
	}
	$('#answer1').html($('#answer1').html()+" "+curanswers[0]["senses"])
	$('#answer2').html($('#answer2').html()+" "+curanswers[1]["senses"])
	$('#answer3').html($('#answer3').html()+" "+curanswers[2]["senses"])
	$('#answer4').html($('#answer4').html()+" "+curanswers[3]["senses"])
}




 $(document).ready(function() {
     initQuiz()
 });

</script>

<h1>Quiz for ${ qLabel } (${ q })</h1>

  <a title="Back"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="../language?q=${ l }&qLabel=${ lLabel }">←</a>
  <a title="View and edit item in Wikidata"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://www.wikidata.org/wiki/${ q }${ p }">Wikidata ↗</a>
  <a title="View item in Reasonator"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://reasonator.toolforge.org/?&q=${ q }${ p }">Reasonator ↗</a>
  <a title="View item as a Scholia topic"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://scholia.toolforge.org/topic/${ q }${ p }">Scholia ↗</a>

<hr/>
<p id="status">Loading Quiz...
</p>

<p id="question">
</p>

<p id="answers">
</p>


<!--<div class="lexical-categories">
	<div id="progressbar"><span class="progress-label" id="progress-label">Loading...</span></div>
    <table class="table table-hover" id="lexical-categories"></table>

</div>
-->
