---
layout: base
---

<script type="text/javascript">
  dataSparql = `
# tool: ordia
SELECT ?description ?value ?valueUrl
WHERE {
  BIND(wd:${ q } AS ?script)
  {
    BIND(1 AS ?order)
	?chara wdt:P282 ?script .
    ?script rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND(COALESCE(?description, ?q) AS ?value)
  }
  UNION
  {
    SELECT
      (2 AS ?order)
      ("Number of characters" AS ?description)
      (COUNT(*) AS ?value)
    {
      [] dct:language wd:${ q } .
      BIND(1 AS ?dummy)
    }
    GROUP BY ?dummy
  }
  UNION
  {
    SELECT
      (3 AS ?order)
      ("Number of forms" AS ?description)
      (COUNT(*) AS ?value)
    {
      [] ^ontolex:lexicalForm / dct:language wd:${ q } .
      BIND(1 AS ?dummy)
    }
    GROUP BY ?dummy
  }
} 
ORDER BY ?order
`;
  
 lexemesSparql = `
# tool: ordia
# title: List of characters for a script
SELECT
  ?lexeme ?lexemeLabel
  ?lexical_category ?lexical_categoryLabel
WITH {
  SELECT ?lexeme ?lexemeLabel ?lexical_category WHERE {
    ?lexeme a ontolex:LexicalEntry ;
            dct:language wd:${ q } ; 
            wikibase:lemma ?lexemeLabel .
    OPTIONAL {
      ?lexeme wikibase:lexicalCategory ?lexical_category .
    }
  }
  LIMIT 10000
} AS %results
WHERE {
  INCLUDE %results
  OPTIONAL {        
    ?lexical_category rdfs:label ?lexical_categoryLabel .
    FILTER (LANG(?lexical_categoryLabel) = "en")
  }
  # SERVICE does not work!?
  # SERVICE wikibase:label { bd:serviceParam wikibase:language "en" . }
}
  `

  lexicalCategoriesSparql = `
# tool: ordia
# title: Statistics for word class for a specific language
SELECT
  ?count
    ?lexical_category ?lexical_categoryLabel
    ?zoom ?zoomUrl
    ?lexical_categoryDescription
WITH {
  SELECT
    (COUNT(*) AS ?count)
    ?lexical_category
  {
    [] a ontolex:LexicalEntry ;
       dct:language wd:${ q } ; 
       wikibase:lexicalCategory ?lexical_category .
  }
    GROUP BY ?lexical_category
} AS %results
WHERE {
  INCLUDE %results
  BIND("→" AS ?zoom)
  BIND(CONCAT("../lexical-category/", SUBSTR(STR(?lexical_category), 32) ,"/language/${ q }") AS ?zoomUrl)
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en" . }
}
ORDER BY DESC(?count)
`


 longestWordsAndPhrasesSparql = `
# tool: ordia
# title: List of longest words for a language
# https://lists.wikimedia.org/pipermail/wikidata/2018-October/012545.html
SELECT DISTINCT ?length ?form ?formLabel ?lexeme ?lexemeLabel WHERE {
  ?lexeme a ontolex:LexicalEntry ;
          dct:language wd:${ q } ;
          wikibase:lemma ?lexemeLabel .
  ?lexeme ontolex:lexicalForm ?form .
  ?form ontolex:representation ?formLabel
  BIND(STRLEN(?formLabel) AS ?length)  
} 
ORDER BY DESC(?length) 
LIMIT 200
  `


 $(document).ready(function() {
     sparqlToDataTable(dataSparql, "#data");
     sparqlToDataTable(lexemesSparql, "#lexemes", {
	 'linkPrefixes': {
	     'lexeme': '../',
	     'lexical_category': '../'}});
     sparqlToDataTable(lexicalCategoriesSparql, "#lexical-categories", {
	 'linkPrefixes': {
	     'lexical_category': '../lexical-category/',
	 }});
     sparqlToDataTable(longestWordsAndPhrasesSparql,
		       "#longest-words-and-phrases", {
			   'linkPrefixes': {
			       'form': '../',
			       'lexeme': '../'}});
 });

</script>

<div class="language-entries">
  <h1>${ q }</h1>

  <a title="Back"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="./">←</a>
  <a title="View and edit item in Wikidata"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://www.wikidata.org/wiki/${ q }">Wikidata ↗</a>
  <a title="View item in Reasonator"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://reasonator.toolforge.org/?&q=${ q }">Reasonator ↗</a>
  <a title="View item as a Scholia topic"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://scholia.toolforge.org/topic/${ q }">Scholia ↗</a>


  <h2>Data</h2>

  <table class="table table-hover" id="data"></table>
  

  <h2>Characters</h2>

  <table class="table table-hover" id="lexemes"></table>

</div>




