---
layout: base
---

<script type="text/javascript">
 $(document).ready(function() {
 $.getJSON("https://www.wikidata.org/w/api.php?action=wbsearchentities&origin=*&format=json&search="+q+"&language=en&type=lexeme", function(result){
    console.log(result)
	resstr=""
	if(result.length>0){	
		for(res of result){
			resstr+="<li class=\"search-result\"><a href=\"{{site.baseurl}}/l?"+res["id"]+"\">"+res["label"]+" ("+res["id"]+")</a> &mdash;"+res["description"]+"<br>"+res["match"]["text"]+" ("+res["match"]["language"]+") &mdash; <a href=\""+res["concepturi"]+"\">Wikidata ↗</a></li>"
		}
		$('#searchres').html(resstr)
	}else{
		$('#searchres').html("<li>No search results found</li>")
	}
	
  });
  });
</script>

<div class="search-results">
  
    <h2>Search results</h2>

    <ul class="search-results" id="searchres">	    

    </ul>
    
</div>


<div id="new-lexeme">

  <a href="https://www.wikidata.org/wiki/Special:NewLexeme?lemma=${ q }"><button type="button" class="btn btn-primary">Create new lexeme in Wikidata</button></a>

</div>

